@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Climate+Crisis&family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Climate+Crisis&family=Rubik+Iso&family=Tilt+Prism&display=swap');
#home{
	width: 60vw;
	margin-left: 20vw;
	height: 50vh;
	animation-name: animacao;
	animation-duration: 4s;
	font-family: 'Tilt Prism', cursive;
}
@keyframes animacao{
	0%{
		background-color: #7021BF;
		font-size: 1rem;
		text-indent: 10%;
		color: #F27507;
	}
	45%{
		background-color: #AABF06;
		font-size: 1.2rem;
		text-indent: 15%;
	}
	90%{
		background-color: #035373;
		text-indent: 25%;
		color: #EB9884;
		box-shadow: 25px 25px 7px black;
	}
}
#home h1{
	font-size: 70pt;
	font-family: 'Rubik Iso', cursive;
}
#home p{
	font-size: 22pt;

}